{% load static tailwind_tags %}
<!DOCTYPE html>
<script src="{% static 'js/chat.js' %}"></script>
<html lang="es" class="h-screen overflow-hidden">
<head>
    <title>HSKBot</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?famil:ital,wght@0,300..900;1,300..900&display=swapy=Rubik" rel="stylesheet">
    {% tailwind_preload_css %} 
    {% tailwind_css %}
</head>
<body class="leading-normal tracking-normal h-screen overflow-hidden">
    <div class="flex flex-col h-screen">
        <header class="flex items-center p-8 bg-gradient-to-r from-purple-950 to-blue-700 flex-shrink-0 shadow-md backdrop-blur text-white justify-between">
            <!-- Logo a la izquierda -->
            <div>
                <img src="{% static 'img/logo.png' %}" alt="Logo" class="w-16 h-16" />
            </div>
            <div class="flex items-center space-x-8">
                <div class="flex items-center space-x-4 cursor-pointer">
                    {% if user.is_authenticated %}
                        <img src="{% static 'assets/svg/user.svg' %}" alt="User Icon" class="w-8 h-8 rounded-full">
                    {% else %}
                        <img src="{% static 'assets/svg/user.svg' %}" href="{% url 'login' %}" alt="User Icon" class="w-8 h-8 rounded-full">
                    {% endif %}
                </div>
            </div>
        </header>
        <div class="flex flex-1 min-h-0">
            <aside class="w-1/6 bg-slate-900 p-4 flex-shrink-0 h-full overflow-y-auto">
                <nav>
                    <ul class="space-y-4 text-lg">
                        <li><a href="{% url 'inicio' %}" class="text-white hover:text-blue-500">Inicio</a></li>
                        <li><a href="{% url 'chat' %}" class="text-white hover:text-blue-500">Chat</a></li>
                    </ul>
                </nav>
				<div class="mt-8">
					<h2 class="text-white text-2xl mb-2">Filtro</h2>
                    <!-- Primera lista seleccionable -->
                    <select id="categoria" name="categoria" class="w-full p-2 rounded bg-sky-600 text-white">
                        <option value="">Categoría</option>
                        <option value="animales">Animales</option>
                        <option value="colores">Colores</option>
                        <option value="comida">Comida</option>
                    </select>
                    <!-- Segunda lista seleccionable -->
                    <select id="nivel" name="nivel" class="w-full p-2 rounded bg-sky-600 text-white mt-4">
                        <option value="">Nivel</option>
                        <option value="basico">Básico</option>
                        <option value="intermedio">Intermedio</option>
                        <option value="avanzado">Avanzado</option>
                    </select>
                </div>
            </aside>
            <main class="flex flex-col items-center justify-center flex-1 bg-gradient-to-r from-slate-900 via-indigo-800 to-blue-700 p-10 min-h-0 overflow-y-auto">
                {% block content %}{% endblock %}
            </main>
        </div>
    </div>
</body>
</html>
