{% extends "base.html" %}
{% load static tailwind_tags%}
{% block content%}
<script src="{% static 'vocabulario/js/chat.js' %}"></script>
<div class="flex flex-col flex-grow w-full max-w-4/5 bg-slate-900 shadow-xl rounded-lg overflow-hidden scrollbar-avocado">
    <div id="chat-Messages" class="flex flex-col flex-grow h-0 p-4 overflow-auto">
        {% include "chat_messages.html" %}
    </div>
    <div class="p-2">
        <form class="flex flex-row items-center" id="chat-form" method="POST">
            {% csrf_token %}
            <input class="flex focus:outline-none items-center cursor- bg-slate-700 h-10 w-full rounded-md px-4 text-sm text-white"
                   type="text"
                   name="mensaje"
                   placeholder="Escribe tu mensaje..."
                   required
                   autocomplete="off">
			<button type="submit" class="flex ml-2 cursor-pointer bg-blue-500 p-1 rounded-full hover:bg-blue-600"><img src="{% static "assets/svg/arrow.svg" %}" class="h-8 w-8"></button>
        </form>
    </div>
</div>
{% endblock %}