{% load static tailwind_tags %}
{% for mensaje in mensajes %}
    <div class="flex w-full mt-2 space-x-3 max-w-xl {% if mensaje.role == 'user' %}ml-auto justify-end{% endif %}">
        {% if mensaje.role == 'assistant' %}
        <div class="flex-shrink-0 h-10 w-10 rounded-full">
            <img src="{% static 'assets/svg/deepseek-color.svg' %}" alt="DeepSeek" class="h-full p-1"/>
        </div>
        {% endif %}
        <div>
            <div class="{% if mensaje.role == 'assistant' %}bg-slate-700{% else %}bg-blue-600{% endif %} p-3 rounded-lg">
                <p class="text-sm text-white">{{ mensaje.content }}</p>
            </div>
        </div>
        {% if mensaje.role == 'user' %}
        <div class="flex-shrink-0 h-10 w-10 rounded-full bg-gray-300"></div>
        {% endif %}
    </div>
{% empty %}
    <div id="no-messages" class="text-white">No hay mensajes aún.</div>
{% endfor %}
